.Post {
  margin-top: 2rem;
  border: 1px solid #ddd;
  border-radius: .25rem;
  position: relative;
}

.Post .Post-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.Post .Post-header-avatar {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 .75rem;
}

.Post .Post-header-avatar img {
  height: 30px;
  width: 30px;
}

.Post .Post-body img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.Post .Post-header-option {
  position: absolute;
  right: .5rem;
  cursor: pointer;
}

.Post-footer .Post-footer-action {
  display: flex;
  position: relative;
  padding: .5rem 0;
}

.Post-footer .Post-footer-action div {
  margin: 0 .5rem;
}

.Post-footer .Post-footer-action .Post-footer-mark {
  position: absolute;
  right: 0rem;
}

.Post-footer .Post-count-like {
  padding: 0 .5rem;
  margin-bottom: .5rem;
  font-size: .925rem;
  font-weight: bold;
}

.Post-footer-status {
  padding: 0 .5rem;
}
.Post-footer-status span:nth-child(1) {
  font-weight: bold;
  margin-right: .5rem;
}

.Post-count-view {
  color: #999;
  padding: 0 .5rem;
  font-size: .925rem;
}

.Post-footer-input {
  margin-top: 1rem;
  position: relative;
}

.Post-footer input {
  width: 100%;
  border:none;
  border-top: 1px solid #ddd;
  padding: .75rem .5rem;
  outline: none;
}

.Post-footer input::placeholder {
  font-size: .925rem;
  color: #999
}

.Post-footer-input button {
  position: absolute;
  right: .5rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: rgba(0, 149, 246, 0.3);
  font-size: .925rem;
  font-weight: bold;
  pointer-events: none;
}

.Post-footer-input button.Show-btn {
  color: #0095f6;
  pointer-events: auto;
}